h1 {
  display: none;
}

.fadeout {
  font-weight: bold;
}

#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.putBack {
  color: #0088cc;
}
